# Database - Neon PostgreSQL
DATABASE_URL="postgresql://neondb_owner:npg_xjBIr5gTk8lZ@ep-cool-surf-ai4ab0l7-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

# Better Auth
BETTER_AUTH_SECRET="H10z3JWOq3XQ2He5RXPcL4Ys60fzs0DB"
BETTER_AUTH_URL="http://localhost:3000"

# App
NEXT_PUBLIC_APP_URL="http://localhost:3000"
